*--------GERAL--------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

/*--------BODY--------*/
body {
  background: #A6E3E9;
}

header .logo {
  padding: 15px 40px;
}

.main {
  display: flex;
  margin-left: 80px;
  margin-bottom: 50px;
}

.input-texto {
  margin-top: 90px;
}

.informacao { 
  font-size: 14.5px;
  position: relative;
  margin-top: 20px;
  margin-left: 100px;
}

/*------------------BUTTONS------------------*/

.botoes {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  border-color: black;
}

.encriptar {
 
  background-color: darkblue;
  color: white;

  cursor: pointer;
}

.desencriptar {
  margin-left: 30px;
  background-color: white;
  color: #46185D;

  cursor: pointer;
}

textarea::placeholder {
  color: #46185D;
}
        
.informacao {
  font-size: 15px;
  font-style: italic;
}

/*------------------FOOTER------------------*/


footer {
  margin: auto;
   width: 30px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    padding-right: 0;
    height: 200px;
  }
  